<div align="center">

# An abnormal undergraduate student

</div>

<div align="center">
  <img src="https://grs.isok.dev/api?username=Howardzhangdqs&show_icons=true&theme=dark"/>
</div>

{% for section in sections %}
{{ section.label }}:

<div align="center"><img src="{{ section.svgPath }}" /></div>
{% endfor %}

<div align="center"><sub>✨ Icons with gradient borders are my favorites</sub></div>

---

### 🔬 Research

Currently conducting research in **deep learning**. Previously focused on **crowd counting**, now working on **time series prediction** and **multimodal large language models**.

Some people saw that my original profile picture was a casual snapshot of cherries in an iron basin and thought it didn't look professional enough, so I changed my profile picture to a character from an ACG game.
